@use 'colors' as *;
@use 'mixins' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.margin-one {
	margin-top: 1em;
}

//nav
.nav {
	margin-top: 1em;
	margin-bottom: 6em;

	&__links {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		&-logo {
			margin-top: 1em;
			margin-right: 2em;
			height: 35px;
			width: 115px;
		}

		&-link {
			margin-top: 1.5em;
			font-family: 'Raleway', sans-serif;
			font-size: 1.5rem;
			color: $very-dark-blue;
			text-decoration: none;
		}
	}
}

//header
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 1em;

	&__img {
		height: 270px;
		margin-bottom: 2em;
	}

	&__heading {
		margin-bottom: 1em;
		font-family: 'Raleway', sans-serif;
		font-size: 3.5rem;
		color: $very-dark-blue;
	}

	&__paragraph {
		margin-bottom: 2em;
		color: $very-dark-blue;
	}

	&__form {
		display: flex;
		flex-direction: column;

		&-input {
			margin-bottom: 2em;
			@include input;
		}

		&-btn {
			@include btn;
		}
	}
}

//main&section
.main {
	.wave {
		width: 100vw;
		height: 114px;
		margin-top: 8em;
		background-image: url('../images/bg-curve-desktop.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}

	.section {
		margin-top: -3.5em;
		background-color: $light-grayish-blue;
		background-repeat: no-repeat;
		background-size: contain;

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__img {
			margin-top: 10em;
			height: 270px;
		}

		&__heading {
			margin-top: 3em;
			text-align: center;
			font-family: 'Raleway', sans-serif;
			font-size: 2.5rem;
			color: $very-dark-blue;
		}

		&__paragraph {
			margin: 1.5em 1em;
			color: gray;

			&--second {
				margin-top: 0.5em;
			}
		}

		&__link {
			margin-top: 2em;
			font-size: 1.6rem;
			color: $moderate-cyan;
			text-decoration: none;
			border-bottom: 1px solid $moderate-cyan;
			transition: all 0.3s;

			&:hover {
				color: $moderate-cyan-light;
				border-bottom: 1px solid $moderate-cyan-light;
			}
		}

		&__article {
			margin: 2em 0;
			width: 400px;
			background-color: white;
			border-radius: 5px;
			box-shadow: 0 0 6px $light-gray;
			margin-bottom: 7em;

			.text {
				margin: 0.5em 1em;
				color: $very-dark-blue;
			}

			&-quotation {
				padding-top: 1em;
				height: 35px;
			}

			&-paragraph {
				font-size: 1.7rem;
			}

			&-box {
				display: flex;
				flex-direction: row;

				&-img {
					height: 50px;
					border-radius: 50%;
				}

				&-info {
					display: flex;
					flex-direction: column;
					justify-content: center;

					&-name {
						font-weight: bold;
						font-size: 1.5rem;
					}

					&-job {
						margin-top: 0.3em;
						margin-bottom: 2em;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

//aside
.aside {
	text-align: center;
	background-color: $desturated-blue;

	.container {
		margin: 0 2em;
	}

	&__heading {
		padding-top: 3em;
		margin-bottom: 0.7em;
		font-size: 2.5rem;
		color: white;
		font-family: 'Raleway', sans-serif;
	}

	&__paragraph {
		margin-bottom: 1em;
		color: white;
	}

	&__form {
		display: flex;
		flex-direction: column;

		&-input {
			margin: 1em auto;
			@include input;
		}

		&-btn {
			margin: 0 auto;
			margin-bottom: 5em;
			@include btn;
		}
	}
}

//footer
.footer {
	background-color: $very-dark-blue;

	a {
		text-decoration: none;
		color: $light-grayish-blue;
		margin-bottom: 0.5em;
	}

	&__logo {
		margin: 2em;
	}

	&__box {
		margin-left: 2em;
		margin-bottom: 0.5em;
		display: flex;
		flex-direction: column;

		&-element {
			transition: color 0.3s;

			&--first {
				margin-top: 1em;
			}

			&:hover {
				color: $desturated-blue;
			}
		}
	}

	&__info {
		p {
			margin-bottom: 0.5em;

			img {
				margin-right: 0.5em;
			}
		}
	}

	&__social {
		display: flex;
		justify-content: center;

		&-element {
			margin: 1.5em;
			border-radius: 50%;
			border: 1px solid $light-grayish-blue;
			transition: all 0.3s;

			.fa-brands {
				padding: 0.5em;
			}

			.fa-facebook-f {
				padding-left: 0.6em;
				padding-right: 0.6em;
			}

			&:hover {
				border: 1px solid $desturated-blue;
				color: $desturated-blue;
			}
		}
	}

	&__attribution {
		padding-bottom: 1em;
		font-size: 1.1rem;
		text-align: center;
		color: $light-gray;

		a {
			color: hsl(228, 45%, 44%);
		}
	}
}

@import 'small';
@import 'medium';
@import 'large';
